.statistics-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.stat-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.stat-number {
    font-size: 36px;
    font-weight: bold;
}

.stat-description {
    font-size: 16px;
    color: #555;
    text-align: center;
}

.chart-container {
    width: 99%;
    height: 400px;
    margin-top: 20px;
}
