.labo body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f0f4f8; /* Couleur de fond douce */
    background-size: auto;
    background-position: center;
}

.labo-container {
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond translucide */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.labo-header {
    background-color: #2e8b57; /* Vert */
    padding: 10px;
    border-radius: 5px 5px 0 0;
    color: white;
    text-align: center;
    margin: -20px -20px 20px -20px;
}

.labo-select-group {
    margin-bottom: 25px; /* Augmenter la marge pour éviter le chevauchement */
}

.labo-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #2e8b57; /* Vert */
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: white; /* Set the background color to white */
}

.labo-select:focus {
    background-color: #e0f7fa; /* Couleur de fond au focus */
    border-color: #238443; /* Bordure plus foncée au focus */
}

.labo button {
    display: inline-flex; /* Utilisez inline-flex pour ajuster la largeur en fonction du contenu */
    padding: 10px 20px; /* Espace autour du texte (ajustez selon vos besoins) */
    font-size: 16px; /* Taille du texte (ajustez selon vos besoins) */
    border: none;
    border-radius: 5px;
    background-color: #2e8b57; /* Couleur de fond (ajustez selon vos besoins) */
    color: white;
    cursor: pointer;
    text-align: center;
    white-space: nowrap; /* Empêche le texte de se casser en plusieurs lignes */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre portée (ajustez selon vos besoins) */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Effets de transition */
    margin-left: 5%;
}

.labo  button:hover {
    background-color: #183020; /* Vert plus foncé */
}

.labo  button:active {
    background-color: #1a5f32; /* Vert encore plus foncé */
}

.labo  input:focus,
select:focus {
    border-color: #238443; /* Vert plus foncé */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); /* Ombre verte */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.analyses-table {
    margin-top: 20px;
}

.analyses-table table {
    width: 100%;
    border-collapse: collapse;
}

.analyses-table th, .analyses-table td {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
}

.analyses-table th {
    background-color: #2e8b57;
    color: white;
}

.analyses-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.labo body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f0f4f8; /* Couleur de fond douce */
    background-size: auto;
    background-position: center;
}

.labo-container {
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond translucide */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.labo-header {
    background-color: #2e8b57; /* Vert */
    padding: 10px;
    border-radius: 5px 5px 0 0;
    color: white;
    text-align: center;
    margin: -20px -20px 20px -20px;
}

.labo-select-group {
    margin-bottom: 25px; /* Augmenter la marge pour éviter le chevauchement */
}

.labo-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #2e8b57; /* Vert */
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: white; /* Set the background color to white */
}

.labo-select:focus {
    background-color: #e0f7fa; /* Couleur de fond au focus */
    border-color: #238443; /* Bordure plus foncée au focus */
}

.labo button {
    display: inline-flex; /* Utilisez inline-flex pour ajuster la largeur en fonction du contenu */
    padding: 10px 20px; /* Espace autour du texte (ajustez selon vos besoins) */
    font-size: 16px; /* Taille du texte (ajustez selon vos besoins) */
    border: none;
    border-radius: 5px;
    background-color: #2e8b57; /* Couleur de fond (ajustez selon vos besoins) */
    color: white;
    cursor: pointer;
    text-align: center;
    white-space: nowrap; /* Empêche le texte de se casser en plusieurs lignes */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre portée (ajustez selon vos besoins) */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Effets de transition */
    margin-left: 5%;
}

.labo  button:hover {
    background-color: #183020; /* Vert plus foncé */
}

.labo  button:active {
    background-color: #1a5f32; /* Vert encore plus foncé */
}

.labo  input:focus,
select:focus {
    border-color: #238443; /* Vert plus foncé */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); /* Ombre verte */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.analyses-table {
    margin-top: 20px;
}

.analyses-table table {
    width: 100%;
    border-collapse: collapse;
}

.analyses-table th, .analyses-table td {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
}

.analyses-table th {
    background-color: #2e8b57;
    color: white;
}

.analyses-table tr:nth-child(even) {
    background-color: #f2f2f2;
}