/* src/components/DemandeList/DemandesList.css */

/* Styles généraux */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f0f4f8; /* Couleur de fond douce */
    /* background-image: url('C:\Users\Hp\Desktop\instn-form\public\INSTN-logo.png');  */
    background-size:auto;
    background-position: center;
}

.form-header {
    background-color: #2e8b57; /* Vert */
    padding: 10px;
    border-radius: 5px 5px 0 0;
    color: white;
    text-align: center;
    margin: -20px -20px 20px -20px;
    font-size:xx-large;
}
/* Conteneur principal */
.demandes-container {
    width: 90%;
    /* max-width: 800px; */
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond translucide */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

/* Barre d'outils */
.toolbar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Fil d'Ariane */
.breadcrumb {
    font-size: 1.5em;
    font-weight: bold;
    color: #2e8b57; /* Vert */
}
.search-label{
    font-size: large;
    margin-left: 20px;
}
/* Champ de recherche */
.search-input {
    width: 80% !important;
    padding: 10px !important;
    font-size: 1em !important;
    border: 0px solid #2e8b57 !important; 
    border-bottom: 1px solid #2e8b57 !important;
    border-radius: 5px !important;
    box-sizing: border-box !important;
    transition: all 0.3s ease !important;
    position: relative !important;
}

/* Loupe à droite */
.search-input::after {
    content: '\1F50D' !important; /* Code unicode de l'icône loupe */
    position: absolute !important;
    top: 50% !important;
    right: 10px !important;
    transform: translateY(-50%) !important;
    font-size: 1.2em !important;
    color: #555 !important; /* Couleur du texte gris */
    cursor: pointer !important;
}

/* Tableau stylisé */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    overflow: auto; /* Permettre le défilement */
}

/* En-tête de tableau */
.styled-table th, .styled-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Changement de couleur au survol */
.styled-table tbody tr:hover {
    background-color: rgba(63, 81, 181, 0.2);
    cursor: pointer;
}

/* Fond de l'en-tête */
.styled-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Messages d'erreur et de chargement */
.error {
    color: red;
    font-size: 1.2em;
}

.loader {
    font-size: 1.2em;
}

/* Animation de fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
