/* AppBar Styling */
.app-bar {
    background-color: #2e8b57; /* Green background */
    color: white;
    height: 50px; /* Reduced height */
    min-height: 50px;
}
.logout-button img {
    width: 20px;
    height: 25px;
}
.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s ease;
    z-index: 5; /* Ensure the menu button is on top */
}
.menu-button img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.change-password-button img {
    width: 30px;
    height: 30px;
}
/* Toolbar Styling */
.MuiToolbar-root {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Title Button */
.main-page-title-reception {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: none; /* Prevent uppercase transformation */
}

/* Navigation Buttons */
.nav-button {
    background-color: #2e8b57;
    color: white;
    font-size: 16px;
    text-transform: none; /* Prevent uppercase transformation */
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.nav-button.active {
    background-color: #1d6f40; /* Darker green for active button */
}

.nav-button.inactive {
    background-color: #2e8b57;
}

.nav-button:hover {
    background-color: #1d6f40; /* Darker green on hover */
}

/* Menu Button */
.labo-menu-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.labo-menu-button:hover {
    background-color: #1d6f40; /* Darker background on hover */
}

/* Overlay Styling */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(93, 255, 163, 0.4), rgba(17, 66, 38, 0.8)); /* Semi-transparent gradient */
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

/* Dropdown Menu Styling */
.dropdown-menu-admin {
    background-color: #2e8b57;
    padding: 10px;
    border: 1px solid #1d6f40;
    position: absolute;
    top: 62px; /* Adjust based on your AppBar height */
    right: 24px; /* Adjust based on your layout */
    z-index: 4; /* Ensure dropdown is above the overlay */
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transform: scale(0.9); /* Start with a slight scale down effect */
    visibility: hidden;
    transition: opacity 0.5s ease, transform 0.3s ease, visibility 0.5s ease;
}

/* Show dropdown menu with appearance effect */
.dropdown-menu-admin.show {
    opacity: 1;
    transform: scale(1); /* Scale up to normal size */
    visibility: visible;
}

/* Button Styling for Logout and Change Password */
.logout-button,
.change-password-button {
    background-color: #2e8b57; /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout-button img,
.change-password-button img {
    margin-left: 10px;
}

.logout-button img {
    width: 20px;
    height: 25px;
}

.change-password-button img {
    width: 30px;
    height: 30px;
}

/* Hover effect for buttons */
.logout-button:hover,
.change-password-button:hover {
    background-color: #1d6f40; /* Darker green for hover effect */
    transform: scale(1.05); /* Slightly scale up */
}
