
/* src/demandesdetails.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f0f4f8; /* Couleur de fond douce */
}

.container {
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond translucide */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header {
    background-color: #2e8b57; /* Vert */
    padding: 10px;
    border-radius: 5px 5px 0 0;
    color: white;
    text-align: center;
    margin: -20px -20px 20px -20px;
}

.details-group {
    border: 2px solid #2e8b57; /* Bordure verte */
    border-radius: 15px; /* Angles arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
    padding: 20px; /* Espace interne */
    margin-bottom: 20px;
    background-color: #f9f9f9; /* Couleur de fond */
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #2e8b57; /* Vert */
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #2e8b57; /* Vert */
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

select {
    appearance: none;
    background-size: 12px;
    padding-right: 20px;
    animation: dropdownSlideIn 0.5s ease;
}

select:focus {
    background-color: #e0f7fa; /* Couleur de fond au focus */
    border-color: #238443; /* Bordure plus foncée au focus */
}

button:hover {
    background-color: #183020; /* Vert plus foncé */
}

button:active {
    background-color: #1a5f32; /* Vert encore plus foncé */
}

input:focus,
select:focus {
    border-color: #238443; /* Vert plus foncé */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); /* Ombre verte */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes dropdownSlideIn {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.selected-elements {
    margin-bottom: 10px;
    font-weight: bold;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid #2e8b57; /* Bordure verte */
    border-radius: 15px; /* Angles arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
    padding: 20px; /* Espace interne */
    margin-bottom: 20px;
    background-color: #f9f9f9; /* Couleur de fond */
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.checkbox-label input {
    margin-right: 5px;
}

.button-add {
    background-color: #2e8b57; /* Vert */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 25px;
    margin-left: 12%;
    margin-right: 17%;
    padding: 10px 15px;
}

.button-delete {
    background-color: #8b2e2e; /* Rouge */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 25px;
    margin-left: 17%;
    margin-right: 12%;
    padding: 10px 15px;
}

.button-delete:hover {
    background-color: #4a1919;
    color: #e0f7fa;
}

.analysis-buttons {
    display: flex;
    align-items: center;
}

.submit-button {
    margin-left: 41%;
    margin-right: 43%;
    background-color: #2e8b57; /* Vert */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 25px;
    padding: 10px 15px;
}

.form-header-details {
    background-color: #2e8b57; /* Vert */
    padding: 5px;
    border-radius: 5px 5px 0 0;
    color: white;
    text-align: center;
    margin: -20px -20px 20px -20px;
}

.container-details {
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond translucide */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}