/* custom.css */

/* Centrer les éléments de la barre de navigation */
.navbar-nav {
    margin: 0 auto;
    text-align: center;
  }
  
  /* Styles pour les éléments actifs de la barre de navigation */
  .nav-link.active {
    color: #ffffff !important;
    background-color: #2e8b57 !important;
    border-radius: 4px;
  }
  
  .nav-link {
    color: #000000 !important;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .nav-item {
    margin: 0 15px;
  }

