@media print {
    body {
        margin: 0;
        padding: 0;
    }
    #report-container {
        position: center;
         /* Marges pour le contenu du rapport */
        margin-top: 35mm;
        margin-bottom: 35mm;
        margin-inline: 5mm;
        border: none; /* Pas de bordure autour du rapport */
    }
    .report-header, .report-footer {
        position: relative;
        border-bottom: 1px solid #000; /* Ligne en dessous de l'en-tête */
        border-top: 1px solid #000; /* Ligne au-dessus du pied de page */
        padding-bottom: 0px; /* Espace en dessous de l'en-tête */
        padding-top: 0px; /* Espace au-dessus du pied de page */
    }
    .report-footer {
        border-top: none; /* Pas de bordure supérieure pour le pied de page */
        margin-top: 20px; /* Marge au-dessus du pied de page */
    }
    .report-header::before {
        content: "";
        display: block;
        border-bottom: 1px solid #000;
        margin-bottom: 10px;
    }
    .report-footer::after {
        content: "";
        display: block;
        border-top: 1.5px solid #000;
        margin-top: 10px;
    }
    .report-sample-section {
        page-break-inside: auto; /* Éviter les coupures dans les échantillons */
    }
    .report-analysis-section {
        page-break-inside: avoid; /* Éviter les coupures dans les analyses */
    }
    .report-analysis-table {
        width: 98%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    .report-analysis-table th, .report-analysis-table td {
        border: 1px solid #000;
        padding: 8px; /* Ajuster le padding pour le texte des cellules */
        text-align: left;
    }
    .report-analysis-table tr {
        page-break-inside: avoid; /* Éviter les coupures dans les lignes de table */
    }
    .report-analysis-table thead {
        display: table-header-group; /* Répéter les en-têtes de table si nécessaire */
    }
    .report-download-button {
        display: none; /* Masquer le bouton de téléchargement lors de l'impression */
    }
}
.report-wrapper {
    display: flex;
    align-items: space-between;
    flex-direction: column;
    position: center;
    width: 100%;
    max-width: 880px;
    font-family: 'Arial', sans-serif;
    color: #000;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px;
}
.report-container-non-imprime{
    border: 1px solid #000;
    position: center;
    width: 100%;
    max-width: 820px;
    font-family: 'Arial', sans-serif;
    color: #000;
    background-color: #fff;
    margin: 0 auto;
    padding: 0px;
}
.report-container {
    position: center;
    width: 100%;
    max-width: 800px;
    font-family: 'Arial', sans-serif;
    color: #000;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px;
}

.report-header, .report-footer {
    margin-bottom: 30px;
}

.client-info, .reportconclusion-section, .reportresults-section {
    margin-bottom: 20px;
}

.reportsample-section {
    margin-bottom: 20px;
    width: auto;
    page-break-inside: avoid;
}

.sample-count {
    margin-bottom: 10px;
}

.sample-list {
    margin-left: 20px;
}

.sample-item {
    display: flex;
    align-items: center;
}

.sample-code {
    width: auto; /* Ajuster selon les besoins pour aligner le contenu */
    text-align: right;
    margin-right: 10px;
}

.reportanalysis-table {
    width: 98%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.reportanalysis-table th, .reportanalysis-table td {
    border: 1px solid #000;
    padding: 5px;
    text-align: left;
}

.report-download-button {
    padding: 8px 12px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: center;
   
    transition: background-color 0.3s ease;
}
.report-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between; 
    position: center;
    width: 100%;
    max-width: 800px;
    font-family: 'Arial', sans-serif;
    color: #000;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px;
}
/* Style for file upload */
.finalreport-upload-form {
    position: center;
    border: 1px solid #000;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align buttons on opposite ends */
    align-items: space-between;
    width: 100%;
  }
  
  .file-status {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
  }
  
  .file-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .file-name {
    flex: 1;
  }
  .file-text-error {
    color: red;
    font-weight: bold;
  }
  .text_file-obligation {
    color: rgb(4, 87, 18);
    
  }
  
  .remove-file-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
  }
  /* For validation errors */
.validation-error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  /* For validation errors */
.success-Message {
    color: rgb(11, 98, 18);
    font-weight: bold;
    margin-top: 10px;
  }