@media print {
    body {
        margin: 0;
        padding: 0;
    }
    #report-container {
        position: relative;
        margin: 35mm 10mm; /* 35mm top and bottom margins for logos */
        border: none; /* No border around the report */
    }
    .report-header, .report-footer {
        position: relative;
        border-bottom: 1px solid #000; /* Line below the header */
        border-top: 1px solid #000; /* Line above the footer */
        padding-bottom: 10px; /* Space below the header */
        padding-top: 10px; /* Space above the footer */
    }
    .report-footer {
        border-top: none; /* No top border for the footer */
        margin-top: 20px; /* Margin above the footer */
    }
    .report-header::before {
        content: "";
        display: block;
        border-bottom: 1px solid #000;
        margin-bottom: 10px;
    }
    .report-footer::after {
        content: "";
        display: block;
        border-top: 1px solid #000;
        margin-top: 10px;
    }
    .report-sample-section {
        page-break-inside: avoid; /* Avoid breaking within samples */
    }
    .report-analysis-section {
        page-break-inside: avoid; /* Avoid breaking within analyses */
    }
    .report-analysis-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    .report-analysis-table th, .report-analysis-table td {
        border: 1px solid #000;
        padding: 8px;
        text-align: left;
    }
    .report-analysis-table tr {
        page-break-inside: avoid; /* Avoid breaking rows within the table */
    }
    .report-analysis-table thead {
        display: table-header-group; /* Repeat table headers on each page if necessary */
    }
    .report-download-button {
        display: none; /* Hide the download button during printing */
    }
}

.report-container {
    margin: 0 auto;
    padding: 5px;
    max-width: 800px;
}

.report-header, .report-footer {
    margin-bottom: 30px;
}

.client-info, .reportconclusion-section, .reportresults-section {
    margin-bottom: 20px;
}

.reportsample-section {
    margin-bottom: 20px;
    page-break-inside: avoid;
}
.sample-count {
    margin-bottom: 10px;
}

.sample-list {
    margin-left: 20px;
    
}

.sample-item {
    display: flex;
    align-items: center;
}

.sample-code {
    width: 290px; /* Adjust as needed to align with other content */
    text-align: right;
    margin-right: 10px;
}

.reportanalysis-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.reportanalysis-table th, .reportanalysis-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.report-download-button {
    margin-top: 20px;
}
